body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#input-url {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

#button-create:hover, #button-delete:hover {
    background-color: #0056b3;
}

#list-url {
    list-style-type: decimal;
    padding-left: 20px;
    margin-top: 20px;
}

ol li {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

#main-container {
    text-align: center;
}